/* BANNER */
.banner-container{
    background-image: url('../../img/bg.jpg');
    width: 100wh;
    height: 100vh;
    background-size: cover;
    /* background-color: rgb(241, 241, 241); */
}

/* MENU */
.menu-list{
    list-style-type: none;
}